.about{
    margin-top: 85px;
    margin-left: 147px;
    .row{
gap: 40px;
        .about__border{
            width: 5%;
            margin-top: 0.5rem;
            border-top: solid 1px #495057;
        }
    .about__title{
        .text-primary{
            color: #bcac76 !important ;
            letter-spacing: 5px;
        }
        .display-3{
            font-weight: 700 !important;
        }
        .text-lg{
         color: #868e96 !important;
         font-size: 1.25rem;
        }
    }
}
    .about__under{
        margin-top: 113px;
    }
}